.DataCard{
    width: 400px;
    height:90vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
}

@media only screen and (max-width: 700px){
    .DataCard{
        margin-left:5%;
        margin-right:5%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .DataCard{
        // align-self: center;
        width: 80%;
        height: 47vh;
        margin-bottom: 3vh;
    }
}

@media only screen and (min-width: 1024px) {
    .DataCard{
        width: 26%;
        height: 47vh;
        margin-bottom: 3vh;
        
    }
}
