.Header{

    font-size: 1.9rem;

    .BrandName{
        
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
    }

}