.Filter{
    min-height:90vh;
    padding-top: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.7rem;
}